.idea
lib
target
*.project
*.iml
bin
.project
.classpath
.settings
src/main/webapp/files/js/messages-en.json
nb-configuration.xml
src/main/resources/rebel.xml
src/main/webapp/META-INF/context.xml
/logs

