<?xml version="1.0" encoding="UTF-8"?>
<!--
  This file is part of the EEG-database project
  
    ==========================================
   
    Copyright (C) 2013 by University of West Bohemia (http://www.zcu.cz/en/)
   
   ***********************************************************************************************************************
   
    Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with
    the License. You may obtain a copy of the License at
   
        http://www.apache.org/licenses/LICENSE-2.0
   
    Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on
    an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the
    specific language governing permissions and limitations under the License.
   
   ***********************************************************************************************************************
   
    hibernate.cfg.xml, 2013/10/02 00:01 Jakub Rinkes
-->
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
<!--    <property name="hibernate.current_session_context_class">
            org.hibernate.context.ThreadLocalSessionContext
    </property>-->
    <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
    <property name="hibernate.dialect">
        cz.zcu.kiv.eegdatabase.data.dialect.OracleDialectWithXmlSupport
    </property>
    <property name="hibernate.connection.url">jdbc:oracle:thin:@students.kiv.zcu.cz:1521:EEGERP</property>
    <property name="hibernate.connection.username">EEGPRODUCTION</property>
    <property name="hibernate.connection.password">PBORIK</property>
    <property name="hibernate.cache.provider_class">
            org.hibernate.cache.NoCacheProvider
    </property>
    <!--<property name="hibernate.hbm2dll.auto">create</property>-->

   <mapping class="cz.zcu.kiv.eegdatabase.data.pojo.License"/>
   <mapping class="cz.zcu.kiv.eegdatabase.data.pojo.PersonalLicense"/>
   <mapping class="cz.zcu.kiv.eegdatabase.data.pojo.ExperimentPackage"/>
   <mapping class="cz.zcu.kiv.eegdatabase.data.pojo.ExperimentPackageLicense"/>
   <mapping class="cz.zcu.kiv.eegdatabase.data.pojo.ExperimentPackageConnection"/>
   
<!--    <mapping resource="cz/zcu/kiv/eegdatabase/data/pojo/Hardware.hbm.xml"/>
    <mapping resource="cz/zcu/kiv/eegdatabase/data/pojo/Scenario.hbm.xml"/>
    <mapping resource="cz/zcu/kiv/eegdatabase/data/pojo/ScenarioType.hbm.xml"/>
    <mapping resource="cz/zcu/kiv/eegdatabase/data/pojo/Weather.hbm.xml"/>
    <mapping resource="cz/zcu/kiv/eegdatabase/data/pojo/Person.hbm.xml"/>
    <mapping resource="cz/zcu/kiv/eegdatabase/data/pojo/GroupPermissionRequest.hbm.xml"/>
    <mapping resource="cz/zcu/kiv/eegdatabase/data/pojo/Article.hbm.xml"/>
    <mapping resource="cz/zcu/kiv/eegdatabase/data/pojo/History.hbm.xml"/>
    <mapping resource="cz/zcu/kiv/eegdatabase/data/pojo/Reservation.hbm.xml"/>
    <mapping resource="cz/zcu/kiv/eegdatabase/data/pojo/ScenarioSchemas.hbm.xml"/>
    <mapping resource="cz/zcu/kiv/eegdatabase/data/pojo/SyncChanges.hbm.xml"/>
    <mapping resource="cz/zcu/kiv/eegdatabase/data/pojo/Keywords.hbm.xml"/>-->
  </session-factory>
</hibernate-configuration>
