<?xml version="1.0" encoding="UTF-8" ?>
<!--
  This file is part of the EEG-database project
  
    ==========================================
   
    Copyright (C) 2013 by University of West Bohemia (http://www.zcu.cz/en/)
   
   ***********************************************************************************************************************
   
    Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with
    the License. You may obtain a copy of the License at
   
        http://www.apache.org/licenses/LICENSE-2.0
   
    Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on
    an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the
    specific language governing permissions and limitations under the License.
   
   ***********************************************************************************************************************
   
    log4j.xml, 2013/10/02 00:01 Jakub Rinkes
-->
<!DOCTYPE log4j:configuration SYSTEM
        "D:\Projects\EEG-Database\Idea-SVN\branches\maven_build\src\main\resources\log4j.dtd">
<!-- Basic log4j logger configuration. It's configured to save all debugs or errors into the log file by the append at the end of log file method. -->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false" threshold="all">

    <appender name="logFile" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/Users/bydga/tmp/eeg.log" />
        <param name="Append" value="true" />
        <param name="DatePattern" value=".yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %C %p - %m%n" />

        </layout>
    </appender>

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %c{1} - %m%n" />
        </layout>
    </appender>

    <logger name="org.hibernate">
        <level value="debug" />
    </logger>

    <logger name="org.hibernate.SQL">
        <level value="debug" />
    </logger>

    <logger name="org.hibernate.type">
        <level value="debug" />
    </logger>
    
    <logger name="org.springframework">
        <level value="debug" />
    </logger>
    
    <logger name="org.apache.wicket">
        <level value="debug" />
    </logger>
    <logger name="org.apache.wicket.protocol.http.HttpSessionStore">
        <level value="debug" />
    </logger>
    <logger name="org.apache.wicket.version">
        <level value="debug" />
    </logger>
    <logger name="org.apache.wicket.RequestCycle">
        <level value="debug" />
    </logger>
    <logger name="org.apache.wicket.protocol.http.WebSession=INFO">
        <level value="debug" />
    </logger>

    <logger name="cz.zcu.kiv.eegdatabase.Tests">
        <level value="debug" />
    </logger>

    <root>
        <priority value="debug" />
        <appender-ref ref="logFile" />
        <appender-ref ref="console" />
    </root>
</log4j:configuration>
