@charset "utf-8";

p {
	margin-bottom: 30px;
}

.content h2 {
	margin-bottom: 10px;
	margin-top: 0;
}


/****************** left column *******************/

.homepageLeftColumn {
	padding-right: 50px;
}

.homepageLeftColumn .left {
    float: left; 
    display: block; 
    width: 150px;
}
    
.homepageLeftColumn .right {
    float: left;
    display: block;
}

.homepageLeftColumn .alert {
	margin-bottom: 40px;
}

.showreel {
	height: 100px;
	margin-top: 20px;
}

.showreel ul {
    list-style: none;
}

.showreel li {
    float: left; display: block;
}

.showreel li {
    float: left; display: block;
    margin-left: 10px;
}

.showreel li a img {
    border: 1px solid lightgray;
}

.showreel li a:hover img {
    border: 1px solid gray;
}


/****************** right column ********************/

.homepageRightColumn {
    padding-left: 40px;
    padding-top: 30px;
}

.homepageRightColumn h2 {
	display: inline-block;
	padding-right: 20px;
}

.homepageRightColumn .loginForm {
	margin: 20px 0;
}

#fb_signin {
	margin: 10px 0;
}

#li_signin {
	margin-bottom: 50px;
}

ul.partners {
	list-style: none; 
	position: relative; 
	left: 45px;
}
