@charset "utf-8";


.notLogged .homepageLeftColumn {
    float: left;
    width: 650px;
    padding: 20px;
}

.notLogged .homepageLeftColumn h1 {
    margin: 0px;
    padding: 0;
}

.notLogged .homepageLeftColumn ul {
}

.notLogged .homepageLeftColumn h2 {
    margin: 0px;
    padding: 0;
}

.notLogged .homepageRightColumn {
    margin-left: 670px;
}

.notLogged .homepageLeftColumn .left {
    float: left;
    width: 120px;
    padding-top: 0px;
}

.notLogged .showreel {display: block; height: 100px; position: relative; top: 20px;}

.notLogged .showreel ul {
    list-style: none;
}
.notLogged .showreel li {
    float: left; display: block;
}

.notLogged .showreel li {
    float: left; display: block;
    margin-left: 10px;
}

.notLogged .showreel li a img {
    border: 1px solid lightgray;
}

.notLogged .showreel li a:hover img {
    border: 1px solid gray;
}

/*.homepageLeftColumn .left {float: left; display: block; width: 200px; }*/
.notLogged .homepageLeftColumn .right {
    float: left;
    display: block;
    width: 440px;
    position: relative;
}




/************** dalsi *********************/

.homepageLoginLink,
.homepageRegistrationLink {
    font-size: 1.5em;
    border: solid 1px #71a7b1;
    color: #102b30;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px 10px 10px 0;
    text-align: center;
    background: #c2e3e9;
    float: left;
    display: block;
    text-shadow: 1px 1px 1px #fff;
    border-radius: 10px;
}

.homepageLoginLink:hover,
.homepageRegistrationLink:hover {
    background: #cfecf0;
    text-decoration: none;
}


.homepageHeading {
    padding-bottom: 0;
}

.notLogged .homepageLeftColumn h2 {
    margin: 0;
}

.notLogged .homepageLeftColumn .dataTable,
.notLogged .homepageRightColumn .dataTable {
    margin-top: 2px;
}

.notLogged .homepageLeftColumn h2 a,
.notLogged .homepageRightColumn h2 a {
    font-size: .7em;
    margin-left: 5px;
}

.notLogged ul.partners {list-style: none; position: relative; left: 45px;}
