/*
    Document   : search
    Created on : 19.10.2009, 22:09:47
    Author     : Meda
    Description:
        Purpose of the stylesheet follows.
*/

/* Search Results */

.searchResults {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 60%;
}

.searchResult {
    margin-top: 2px;
    padding-top: 2px;
    border-bottom: 2px solid #ede;
}

.searchResult:hover {
    background-color: #efe;
}

.searchResult h2 {
    float:left;
    margin-right: 20px;
}

.searchResult h3 {
}

.searchResult a {
}

.searchResult > span {
    background-color: #cbff80;
    float: right;
    border: 1px solid #ddd;
    border-bottom: 0px;
    padding:2px;
    padding-bottom:0px;
    margin: 0px;
}

.timestamp {
    background-color: #eee !important;
    float:left;
    margin: 0px;
    padding-bottom: 2px !important;
    border-bottom: 1px solid #ddd !important;
}

/* Found text fragments belonging to search results */


.searchTextFragments {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-bottom:3px
}
/* categories (faceting) */
.facetCategories {
    margin: 0;
    padding: 0;
    overflow: auto;
    list-style-type: none;
}

.facetCategories li {
    float: left;
    margin: 0;
    border-right: 1px solid #aaa;
    padding: 0 5px;

}

.facetCategories li:last-child {
    border-right: none;
}

/* Wicket autocomplete */
div.wicket-aa {
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,Verdana;
    font-size: 12px;
    background-color: white;
    border-width: 1px;
    border-color: #cccccc;
    border-style: solid;
    padding: 2px;
    margin: 1px 0 0 0;
    text-align:left;
}

div.wicket-aa ul {
    list-style:none;
    padding: 2px;
    margin:0;
}

div.wicket-aa ul li.selected {
    background-color: #FFFF00;
    padding: 2px;
    margin:0;
}

/* highlighting of search results */
.hilite {
    font-weight: bold;
    background-color: yellow;
}

/* Menu search panel style */
.menuSearchPanel {
    margin-top: 10px;
    margin-right: 10px;
    float:right;
    clear: right;
}