@charset "utf-8";

/** CSS file for standard layout with menu header, footer and content **/
/*@import "search.css";
@import "modalForm.css";
@import "common.css";
@import "table.css";
@import "jquery-ui.css";
@import "bookingRoom.css";
@import "visualization.css";*/

html, body {
    height: 100%;
}

.page {
    width: 950px;

    /* place for sticky footer (see .footer) */
    min-height: 100%;
    height: auto;
    margin: 0 auto -50px;
    padding: 70px 0 50px;
    
}

.footer {
    padding: 3px 10px 1px;
    background: #dcf2f5 url(images/footer-bg.gif) left top repeat-x;
    text-align: center;
    color: #666;
    clear: both;
    width : 100%;
    height: 50px;
}


.clear {
    clear: both;
}


.search-query {
	margin: 16px 40px;
}

