/*
    Document   : visualization.css
    Created on : 10.5.2012, 06:52:29
    Author     : Lucie Koloušková
    Description: Styles for visualization module on experiments/detail page.*/
/* green button - start */
@import "dhtmlxtree.css";
@import "colorPicker.css";
@import "jquery.jqplot.min.css";

.canvasbox {
    width: 400px !important;
    height: 200px !important;
    background-color: #cccccc;
    display: inline-block;
    margin: 0px 5px 5px 0px;
}

.active {
    border: 1px solid #C5F44C;
    background-color: #eeeeee;
    width: 1000px;
    height: 700px;
}

#slider {
    width: 120px;
    display: inline-block;
    margin: 0 0 20px 5px;
}

#add {
    z-index: 2;
    display: inline-block;
    padding: 81px 0px 76px;
    cursor: pointer;
}

#wrapper{
    display:none;
    position:absolute;
    z-index:2;
    font-size:13px;
}

#panel {
    display: none;
    z-index: 100;
    position: fixed;
    bottom: 0px;
    background-image: url('images/panel_bg.png');
    background-repeat: no-repeat;
    width: 704px;
    background-attachment: fixed;
    background-position: bottom;
    padding-bottom: 5px;
    text-align: center;
}

#panel img {
    width: 70px;
}

#tree {
    width:200px;
    height:300px;
    background-color:#f5f5f5;
    border :1px solid Silver;
    display: none;
    z-index: 5;
    position: absolute;
    left: 20px;
    top: 30%;
}

/*#wrapper div.wrap {
        width: 400px;
        height: 200px;
        margin: 0px 5px 5px 0px;
        display: inline-block;
        background-color: #eeeeee;
}*/

#wrapper div input {
    font-variant: small-caps;
    color: #000000;
    font-weight: bold;
    background-color: lightgoldenrodyellow;
    border: burlywood;
    width: 170px;
}

/* slider label */
#slider_label {
    margin-left: 10px;
}

/* pause value displayed after slider */
#pause_value {
    display: inline-block;
    width: 20px;
    margin-left: 5px;
}

#export img {
    border: 1px solid #eee;
    box-shadow: 0px 0px 50px #eee;
}

span.heading {
    color: #eeeeee;
    font-variant: small-caps;
    font-size: 16px;
    font-weight: bold;
}

#backgroundPopup{
    display:none;
    position:fixed;
    _position:absolute; /* hack for internet explorer 6*/
    height:100%;
    width:100%;
    top:0;
    left:0;
    background:#000000;
    border:1px solid #cecece;
    z-index:1;
}