@charset "utf-8";


.dataTable tbody tr td:nth-child(2) {
    white-space: normal;
}

.jumbotron {
	padding: 30px 10px !important;
}



/***************** dalsi ******************/

#homepageMyExperimentsList .columnDate,
#homepageMeAsSubjectList .columnDate {
    width: 150px;
}

#homepageMyExperimentsList .columnId,
#homepageMeAsSubjectList .columnId {
    width: 50px;
}

#homepageMyExperimentsList .columnScenarioTitle,
#homepageMeAsSubjectList .columnScenarioTitle {
    width: 270px;
}

#homepageMyScenariosList .columnTitle,
#homepageMyGroupsList .columnTitle {
    width: 320px;
}
