/*
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: white;
    font-family: "Trebuchet MS", "Arial CE", Arial, sans-serif;
    font-family: Verdana, "Geneva CE", lucida, sans-serif;
    font-weight: normal;
    font-size: small;
}
*/

.wizard {
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.wizard .tab-row {
    list-style: none;
    padding: 0px;
    margin: 0px;
    /*
    left: 0;
    right: 200px;
    top: 0;
    bottom: 0;
    position: absolute;
    */
    background: #ccc;
    border-radius: 15px 0px 0px 15px;
    -moz-border-radius: 15px 0 0 15px;
    -webkit-border-radius: 15px 0 0 15px;
    display: block;
    font-size: small;

    height: auto;
    background: white;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    
    display: inline-block;
    width: 570px;
}

.wizard .tab-row ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.wizard .tab-row>ul>li>a {
    display: inline;
    height: 28px;
    padding: 10px;
    padding-left: 20px;
    padding-top: 17px;
    text-decoration: none;
    text-align: left;
    text-transform: uppercase;
    color: black;
    background-color: #77c2e8;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #77c2e8), color-stop(50%, #39a7e0), color-stop(50%, #219ede), color-stop(100%, #239fde));
    background-image: -webkit-linear-gradient(top, #77c2e8 0%, #39a7e0 50%, #219ede 50%, #239fde 100%);
    background-image: -moz-linear-gradient(top, #77c2e8 0%, #39a7e0 50%, #219ede 50%, #239fde 100%);
    background-image: -ms-linear-gradient(top, #77c2e8 0%, #39a7e0 50%, #219ede 50%, #239fde 100%);
    background-image: -o-linear-gradient(top, #77c2e8 0%, #39a7e0 50%, #219ede 50%, #239fde 100%);
    background-image: linear-gradient(top, #77c2e8 0%, #39a7e0 50%, #219ede 50%, #239fde 100%);
    font-family: Verdana, "Geneva CE", lucida, sans-serif;
    font-weight: bold;

    padding-top: 15px;
    padding-bottom: 5px;
    background: #fbfbfb;
    margin-bottom: 10px;
    -moz-box-shadow: inset 0 0 6px 6px #f4f4f4;
    -webkit-box-shadow: inset 0 0 6px 6px #f4f4f4;
    box-shadow: inset 0 0 6px 6px #f4f4f4;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    
    float: left;
    width: 144px;
}

.wizard .tab-row>ul>li:first-child>a {
    border-radius: 12px 0 0 12px;
    -moz-border-radius: 12px 0 0 12px;
    -webkit-border-radius: 12px 0 0 12px;
    background: white;
    -moz-box-shadow: inset 0 0 6px 6px #f4f4f4;
    -webkit-box-shadow: inset 0 0 6px 6px #f4f4f4;
    box-shadow: inset 0 0 6px 6px #f4f4f4;
    border-left: #f4f4f4;
}

.wizard .tab-row>ul>li.last>a {
    border-radius: 0 12px 12px 0;
    -moz-border-radius: 0 12px 12px 0;
    -webkit-border-radius: 0 12px 12px 0;
    background: white;
    -moz-box-shadow: inset 0 0 6px 6px #f4f4f4;
    -webkit-box-shadow: inset 0 0 6px 6px #f4f4f4;
    box-shadow: inset 0 0 6px 6px #f4f4f4;
    border-right: #f4f4f4;
}

.wizard .tab-row>ul>li>a:hover {
    background-color: #ffffff;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(50%, #d1ebf8), color-stop(50%, #bee3f6), color-stop(100%, #c0e4f6));
    background-image: -webkit-linear-gradient(top, #ffffff 0%, #d1ebf8 50%, #bee3f6 50%, #c0e4f6 100%);
    background-image: -moz-linear-gradient(top, #ffffff 0%, #d1ebf8 50%, #bee3f6 50%, #c0e4f6 100%);
    background-image: -ms-linear-gradient(top, #ffffff 0%, #d1ebf8 50%, #bee3f6 50%, #c0e4f6 100%);
    background-image: -o-linear-gradient(top, #ffffff 0%, #d1ebf8 50%, #bee3f6 50%, #c0e4f6 100%);
    background-image: linear-gradient(top, #ffffff 0%, #d1ebf8 50%, #bee3f6 50%, #c0e4f6 100%);

    background: #dfdfdf;
    -moz-box-shadow: inset 0 0 6px 6px #f4f4f4;
    -webkit-box-shadow: inset 0 0 6px 6px #f4f4f4;
    box-shadow: inset 0 0 6px 6px #f4f4f4;
}

.wizard .tab-row ul>li.selected>a,
.wizard .tab-row>ul>li>a:active {
    background-color: #f4fcff;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4fcff), color-stop(50%, #c2e4f6), color-stop(50%, #acdbf3), color-stop(100%, #aedbf3));
    background-image: -webkit-linear-gradient(top, #f4fcff 0%, #c2e4f6 50%, #acdbf3 50%, #aedbf3 100%);
    background-image: -moz-linear-gradient(top, #f4fcff 0%, #c2e4f6 50%, #acdbf3 50%, #aedbf3 100%);
    background-image: -ms-linear-gradient(top, #f4fcff 0%, #c2e4f6 50%, #acdbf3 50%, #aedbf3 100%);
    background-image: -o-linear-gradient(top, #f4fcff 0%, #c2e4f6 50%, #acdbf3 50%, #aedbf3 100%);
    background-image: linear-gradient(top, #f4fcff 0%, #c2e4f6 50%, #acdbf3 50%, #aedbf3 100%);

    background: #9f9f9f;
    -moz-box-shadow: inset 0 0 6px 6px #f4f4f4;
    -webkit-box-shadow: inset 0 0 6px 6px #f4f4f4;
    box-shadow: inset 0 0 6px 6px #f4f4f4;
}

.wizard .tab-row>ul>li>a>img {
    /*position: absolute;
    left: 150px; */
    width: 24px;
    height: 24px;
    padding: 0px;
    margin: 0 auto 0 auto;
    border: none;
    float: right;
    bottom: 6px;
}

/*
.tab-row li.selected:after {

    border: solid transparent;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;

    border-left: 30px solid silver;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    top: 0px;
    left: 200px;
    z-index: 10;
    margin: 0px;
    padding: 0px;
}
*/

.wizard content {
    /*
    position: absolute;
    top: 0;
    left: 200px;
    right: 0px;
    */
    padding-bottom: 20px;
    width: 560px auto;
    overflow: auto;
    background: #f4fcff;
    border-radius: 0 12px 12px 0;
    -moz-border-radius: 0 12px 12px 0;
    -webkit-border-radius: 0 12px 12px 0;

    /* The background is used to specify the border background */
    background: -moz-linear-gradient(45deg, #acdbf3, #f4fcff, #f4fcff, #acdbf3, #acdbf3, #f4fcff, #f4fcff, #acdbf3);
    background: -webkit-linear-gradient(45deg, #acdbf3, #f4fcff, #f4fcff, #acdbf3, #acdbf3, #f4fcff, #f4fcff, #acdbf3);
    /* Background origin is the padding box by default.
    Override to make the background cover the border as well. */
    -moz-background-origin: border;
    background-origin: border-box;

    background: white;
}

.wizard .no-nav {
    left: 0px;
}

.wizard input:not([type=checkbox]), textarea {
    width: 250px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.wizard label,
.wizard form h1 {
    float: left;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: small;
}

.wizard label {
    width: 130px;
    padding-top: 5px;
}

.wizard input:not([type="checkbox"]),
.wizard textarea,
.wizard select {
    width: 250px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.wizard form {
    /*
    position: absolute;
    top: 8px;
    left: 8px;
    */
    height: auto;
    width: 482px;
    margin: 0 auto 0 auto;
    margin-right: 8px;
    background: #f4fcff;
    padding: 20px;
    border-radius: 12px 12px 12px 12px;
    -moz-border-radius: 12px 12px 12px 12px;
    -webkit-border-radius: 12px 12px 12px 12px;

    background: white;
    -moz-box-shadow: inset 0 0 12px 12px #f4f4f4;
    -webkit-box-shadow: inset 0 0 12px 12px #f4f4f4;
    box-shadow: inset 0 0 12px 12px #f4f4f4;
    
    float: left;
}

.wizard .form-item {
    width: 460px;
    margin-bottom: 20px;
    border: 1px solid #b4b4b4;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 10px;
    background-image: -moz-linear-gradient(top, #f7f7f7, #e5e5e5); /* FF3.6 */
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e5e5e5), color-stop(1, #f7f7f7)); /* Saf4+, Chrome */
}

.wizard .form-sub-item {
    width: 100%;
    display: block;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
}

.wizard .form-sub-item:before {
    display: block;
    content: " ";
    width: 440;
    height: 2px;
    margin-bottom: 10px;
    background-image: -moz-linear-gradient(top left, #e5e5e5 30%, #b4b4b4 65%, #e5e5e5); /* FF3.6 */
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #e5e5e5), color-stop(0.3, #b4b4b4), color-stop(1, #e5e5e5)); /* Saf4+, Chrome */

}

.wizard .long-label {
    width: 50%;
    margin-bottom: 5px;
}

.wizard .after-long-label {
    margin-left: 130px;
}

.wizard input[type=submit],
.wizard input[type=button] {
    width: 60px;
    color: #f3f3f3;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: #0cb114;
    background-image: -moz-linear-gradient(top, #0cb114, #07580b); /* FF3.6 */
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #07580b), color-stop(1, #0cb114)); /* Saf4+, Chrome */
    -webkit-box-shadow: #4b4b4b 0px 2px 5px;
    -moz-box-shadow: #4e4e4e 0px 2px 5px;
    box-shadow: #e3e3e3 0px 2px 5px;
    border: none;
    margin-left: 10px;
}

.wizard input[type=reset],
.wizard input[type=button].cancel-button {
    width: 60px;
    color: #f3f3f3;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: #d01111;
    background-image: -moz-linear-gradient(top, #d01111, #7e0c0c); /* FF3.6 */
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #7e0c0c), color-stop(1, #d01111)); /* Saf4+, Chrome */
    -webkit-box-shadow: #4b4b4b 0px 2px 5px;
    -moz-box-shadow: #4e4e4e 0px 2px 5px;
    box-shadow: #e3e3e3 0px 2px 5px;
    border: none;
}

.wizard input[type=file] {
    width: 280px;
}

.wizard input[type=number], 
.wizard input[type=text], 
.wizard input.datalist, 
.wizard textarea {
    width: 235px;
}

.wizard input[type=date],
.wizard input.date {
    width: 160px;
}

.wizard input[type=time],
.wizard input.time {
    width: 60px;
}

.wizard ol.radio-group {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 140px;
}

.wizard ol.radio-group>li>label {
    width: 270px;
    float: left;
    clear: right;
}

.wizard input[type="radio"] {
    display: block;
    width: 30px;
    float: left;
}

.wizard .close {
    clear: both;
}

.wizard .added {
    color: purple;
}

.wizard .hidden {
    display: none;
}

.wizard .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    z-index: 10;
    opacity: 0.4;
}

.wizard .modal {
    position: absolute;
    top: 50px;
    left: 50px;
    bottom: 50px;
    right: 50px;
    z-index: 11;
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
    overflow: auto;
}

.wicket-aa ul {
    list-style: none;
    z-index: 100;
    background-color: white;
    border: solid 1px black;
    border-radius: 5px;
    padding: 5px;
}

.wicket-aa ul li:hover {
    background-color: #fcefa1;
}

.wizard .whiteTab {
    color: black;
}

.wizard .greenTab {
    color: green;
}

.wizard .redTab {
    color: red;
}

.test{
    color: red;
    background-color: red;
}