<component name="libraryTable">
  <library name="spring-security">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring-security/spring-security-acl-2.0.4.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security/spring-security-taglibs-2.0.4.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security/spring-security-core-2.0.4.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security/spring-security-core-tiger-2.0.4.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>