/* 
    Document   : bookingRoom
    Created on : 11.11.2010, 19:52:29
    Author     : Jenda
    Description:
 Styles for layout on groups/bookingRoom page.*/

div#box {
    border: none;
}

div#left {
    float: left;
    width: 248px;
}

div#right {
    float: right;
    width: 480px;
}

div#bottom, div#internbottom {
    clear: both;
}

div#datePicker {
    float: left;
    width: 232px;
}

div#internright {
    float: right;
    width: 230px;
    padding-left: 10px;
}

div#left, div#datePicker {
    padding: 5px 5px 5px 5px;
    padding: 0px 0px 0px 0px;
}

div#chosenData {

}

table tr.sameDay td {
    background-color: #ffcc99;
}

table tr.sameDay:hover td {
    background-color: #ffcc66;
}

table tr.collision td {
    background-color: #ff6666;
}

table tr.collision:hover td {
    background-color: #ff3333;
}

select.timeSelect {
    cursor: pointer;
    width: 50px;
}

div#button, div#button input {
    text-align: center;
    margin: 5px 0px 5px 0px;
}

div#button input {
    cursor: pointer;
}

div#message {
    border-bottom: 2px solid gray;
    margin-bottom: 15px;
    display: none;
}

span.infoicon, span.deleteicon, span.pdficon {
    display: inline-block;
    cursor: pointer;
    margin-top: 2px;
}

span.infoicon {
    background: url(images/info_icon.png) no-repeat;
    width: 25px;
    height: 25px;
}

span.deleteicon {
    background: url(images/cross_icon.png) no-repeat;
    width: 20px;
    height: 20px;
}

span.pdficon {
    background: url(images/pdf_icon.png) no-repeat;
    width: 25px;
    height: 25px;
}

div#flowbox {
    z-index: 101;
    width: 400px;
    height: 180px;
    border: 2px solid gray;
    background-color: white;
    display: none;
    position: absolute;
    /*top: 40%;
    left: 50%;*/
    margin-top: -90px;
    margin-left: -200px;
    padding: 10px 10px 10px 10px;
}

div#flowbox span#close {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 20px;
    height: 20px;
    display: block;
    cursor: pointer;
    background: url(images/cross_icon.png) no-repeat;
}

div#shadow {
    background-color: black;
    opacity: 0.8;
    z-index: 100;
    position: absolute;
    top: 0px;
    left: 0px;
    /*width: 1000%;
    height: 1000%;*/
    display: none;
}

table.reservationinfo {
    font-size: 16px;
}

table.reservationinfo td {
    width: 50%;
}

table.reservationinfo td.br_header {
    font-weight: bold;
    text-align: left;
}

table.reservationinfo td.br_value {
    text-align: center;
    font-family: "Courier New", serif;
}

span.reservationheader, span.reservationperson {
    width: 100%;
    border: 0px solid lime;
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #597000;
}

span.reservationperson {
    font-size: 16px;
}

hr.partial {
    width: 80%;
}
