/* 
    Document   : bookingRoom
    Created on : 11.11.2010, 19:52:29
    Author     : Jenda
    Description:
 Styles for layout on groups/bookingRoom page.*/

div#box {
    border: none;
}

div#left {
    float: left;
    width: 248px;
}

div#right {
    float: right;
    width: 480px;
}

div#bottom, div#internbottom {
    clear: both;
}

div#datePicker {
    float: left;
    width: 232px;
}

div#internright {
    float: right;
    width: 230px;
    padding-left: 10px;
}

div#left, div#datePicker {
    padding: 5px 5px 5px 5px;
    padding: 0px 0px 0px 0px;
}

div#chosenData {

}

table.dataTable tr.sameDay td {
    background-color: #ffcc99;
}

table.dataTable tr.sameDay:hover td {
    background-color: #ffcc66;
}

table.dataTable tr.collision td {
    background-color: #ff6666;
}

table.dataTable tr.collision:hover td {
    background-color: #ff3333;
}

select.timeSelect {
    cursor: pointer;
    width: 50px;
}

div#button, div#button input {
    text-align: center;
    margin: 5px 0px 5px 0px;
}

div#button input {
    cursor: pointer;
}

div#message {
    border-bottom: 2px solid gray;
    margin-bottom: 15px;
}
